body {
    background-color: rgb(64, 207, 255);
    font-family: 'Shrikhand', cursive;
}

.toolbar {
    font: bold;
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    text-align: center;
}

h1 a {
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.chart {
    color: black;
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.time {
    color: whitesmoke;
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.manage {
    color: darkorange;
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.chart,
.manage,
.time {
    margin: 70px;
}

#homeBar {
    font-family: 'Shrikhand', cursive;
    text-shadow: 9px 12px 2px rgba(188, 188, 188, 0.36);
    text-align: center;
}