<div ng-controller="AddController as vm">
    <md-toolbar>
        <h1 class="toolbar">TIME TRACKER</h1>
    </md-toolbar>
    <div>
        <input ng-model="vm.entryIn" type="text" layout="row" placeholder="What did you do?">
        <md-datepicker ng-model="vm.dateIn" placeholder="enter date" title="'Date'" filter="{ date: 'number'}" sortable="'date'"></md-datepicker>
        <input ng-model="hoursIn" type="text" layout="row" placeholder="How many hours?">

    </div>
    <div>


        <table ng-table="vm.tableParams" class="table table-bordered table-striped">
            <tr ng-repeat="entry in vm.getEntriesArray">
                <td title="'Project'" sortable="'project'">
                    {{entry.project}}</td>
                <td title="'What to Do'" sortable="'entry'">
                    {{entry.entry}}</td>
                <td title="'Date'" sortable="'date'">
                    {{entry.date | date: 'MM/dd/yyyy'}}</td>
                <td title="'Hours'" sortable="'hours'">
                    {{entry.hours}}</td>

                <td><button type="button" ng-click="vm.deleteEntries(this)">Delete</button></td>

            </tr>

        </table>
    </div>
</div>