<body ng-controller="HomeController as vm">
    <md-toolbar>
        <h1 class="toolbar">HOME PAGE</h1>
    </md-toolbar>

    <!-- <input ng-model="vm.project_id" type="text" placeholder="What did you do?">
    <md-datepicker ng-model="vm.date" placeholder="enter date" title="'Date'" filter="{ date: 'number'}" sortable="'date'"></md-datepicker>
    <input ng-model="vm.hours" type="text" placeholder="What did you do?"> -->



    <div>
        <table ng-table="vm.tableParams" show-filter="true" class="table table-bordered table-striped">
            <tr ng-repeat="entry in vm.getEntriesArray">
                <td>{{$index+1}}</td>
                <td title="'Date'" filter="{entry: 'text'}">
                    {{entry.entry}}</td>
                <td title="'Date'" filter="{date: 'text'}">
                    {{entry.date}}</td>
                <td title=" 'Hours'" filter="{hours: 'number'} ">
                    {{entry.hours}}</td>
                <td title="'Project ID'" filter="{project_id: 'number'}">
                    {{entry.project_id}}</td>
                <td><button type="button" ng-click="vm.deleteEntries(entry)">Delete</button></td>

            </tr>
        </table>
    </div>
</body>