<md-toolbar class="toolbar">
    <h1 class="home1">HOME PAGE</h1>
</md-toolbar>

<input type="text" placeholder="What did you do?">
<input type="text" placeholder="What did you do?">
<input type="text" placeholder="What did you do?">

<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="entry in vm.displayEntries">
        <td title="'Project ID'" filter="{ project_id: 'number'}" sortable="'project_id'">
            {{entry.project_id}}</td>
        <td title="'Date'" filter="{ date: 'date'}" sortable="'date'">
            {{entry.date}}</td>
        <td title="'Hours'" filter="{ hours: 'number'}" sortable="'hours'">
            {{entry.hours}}</td>
    </tr>

</table>