<body ng-controller="ManageController as vm">
    <md-toolbar>
        <h1 class="toolbar">MANAGE YOUR PROJECTS HERE</h1>
    </md-toolbar>
    <div>
        <input ng-model="vm.project" type="text" layout="row" placeholder="Project Name?">

        <md-button ng-click="vm.addProject()">Add Project</md-button>

    </div>
    <div>
        <table ng-table="vm.tableParams" class="table table-bordered table-striped">
            <tr ng-repeat="project in vm.projects">
                <td>{{$index+1}}</td>
                <td title="'Project'">
                    {{project.project}}</td>
                <td title=" 'Hours'">
                    {{project.project}}</td>
                <td>
                    <md-button type="button " ng-click="vm.deleteEntries(entry) ">Delete</md-button>
                </td>
            </tr>
        </table>
    </div>
</body>